@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.intro-rangement{
   /* background-color: rgb(220, 224, 227);
    padding: 1rem;*/
    margin-top: 7.5rem;
}
.img-rangement{
    margin-top: 0rem;
}
.contenair-rangement{
    display: flex;
    justify-content: center;
    align-content: center;
   align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.picto-rangement{
    flex: 0 1 10rem;
    align-self: center;
}
 .titre-rangement1{
    flex: 0 1 11rem;
    align-self: center;
    color: blue;
    font-size: 1.50rem;
    font-family: 'Dancing Script', cursive;
}


.img-picto-rangement{
    width: 50%;
}
.infos-rangement{
    display: flex;
    justify-content: space-around;
    background: #deeaea;
    margin: 1rem 22%;
   
}
.para-rangement{
    flex: 0 1 30rem;
    align-self: center;
}







@media screen and (max-width:768px){
    .infos-rangement{
        margin: 1rem 10%;
    }
}


@media screen and (max-width:496px){
    .le-rangement{
        margin-top: 4rem;
    }
}