@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro-consultation{
   /* background-color: rgb(220, 224, 227);*/
    padding: 1rem;
    margin-top:  7.5rem;
}
.contenair-consultation{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 1rem;
    background-color: #deeaea;
}
.box-texte-consultation{
    flex: 0 1 38rem;
    background: white;
padding: 1rem;
}

.titre-consultation{
    font-size: 2rem;
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-align: center;

}

.img-consultation{
    margin-top: 0rem;
}